# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Results and data
results/
*.csv
*.jpg
*.png
*.jpeg

# Model weights
*.pt
*.pth
*.weights

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak

# RF-DETR
RF-DETR/Hockey-2/
RF-DETR/output/

# YOLO
YOLO/Football/
YOLO/output/

#PnLCalib
PnLCalib/